html
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.parent-container{
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    outline: 5px solid red;
}

.child1{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 3px solid blue;
    flex-shrink: 1;
    flex-basis: 90%;
}

.topper{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    outline: 4px dotted purple;
    flex-wrap: wrap;
    gap: 10%;
    overflow:hidden;
}

.bottom{
    height: 70%;
    outline: 4px dotted green;
}

.children-top-left{
    width: 25%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 3px solid rosybrown;
    border-radius: 10%;
    flex: 0 1 30%;
    overflow: hidden;
}

.children-top-right{
    width: 25%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 3px solid rosybrown;
    border-radius: 10%;
    flex: 0 1 30%;
    overflow: hidden;
}

.eyes{
    text-align: center;
    flex-basis: 10%;
}

.mouth{
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    display: flex;
    outline: 2px solid rosybrown;
    border-radius: 5%;
}